

.bg{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}
.main{
    height: 200vh;
    width: 100vw;
}

.navbar{
    position: absolute;
    left: 200px;
    top: 0px;
}





.headshot{
    position: absolute;
    display: flex;
    justify-content: end;
    width: 30%;
    opacity: .8;
    margin-left: auto;
    top: 200px
}

.showcase2{
    position: relative;
    bottom: 0;
    right: 0;
    width: 30%;
    opacity: .8;
    filter:grayscale(100%)
    
}
.text{
    position: absolute;
    display: flex;
}
 /* .about{
     top: 200px;
     display: block;
     min-height: 100vh;
 } */

 .blurb{
    position: absolute;
    font-size: larger;
    top: 20%;
    display: flex;
    justify-content: end;
    margin-left: auto;
}

.headshot:hover {
    cursor: pointer;
    opacity: 1;
    transition: 1s ease-in-out;
    filter: contrast(-50%);
  }

  .showcase2:hover {
    cursor: pointer;
    opacity: 1;
    transition: 1s ease-in-out;
    filter: contrast(-50%);
    filter:grayscale(0%);
  }



  /* .password{
      position: absolute;
  } */