
/* *{
    color: white;
} */
video{
    z-index: -5;
    position: relative;
    object-fit: cover;
    height: 100vh;
    position: fixed;
    width: 100vw;

 
}

.main{
    position: absolute;
    /* border: wheat solid 2px; */
    height: 200vh;
}

.navbar{
    z-index: 5;
}


.content
{
    /* border: wheat solid 2px; */
    width: 68vw;
    top: 15%;
    left: 15vw;
    position: absolute;
    background: transparent;
    transition: 0.5s;
    z-index: 2;
}

.inner{
    max-width: 50%;
    font-size: large;
}

.btn{
    color: white;
}
.btn:hover {
    color: #fff;
    background-color: #a7a7a7;
    border-color: #285e8e; 
}

.card1{
    background-image: url('https://images.pexels.com/photos/42148/pexels-photo-42148.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100%;
    border-radius: 20px;
    /* border: oldlace solid 2px; */
    top: 23vh;
    right: 0;
    position: absolute;
    font-size: large;
    opacity: .5;
    width: 25vw;
    height: 50vh;
}

.card1:hover {
    opacity: 1;
    transition: 1s ease;
    cursor: pointer;
  }

.stargazer{
    position:relative;
    width: 20vw;
    border-radius: 20px;
}


.stargazer-header{
    position: absolute;
    /* border:wheat solid 2px; */
    font-size: 1.5em;
    width: 15vw;
    right: 0;
    top: 20vh;
}