
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');

*{
    box-sizing: border-box;
    font-family: montserrat;


}

.main{
    position: absolute;
    /* border: wheat solid 2px; */
    height: 200vh;
    width: 100%;
}

    
video{
    z-index: -5;
    object-fit: cover;
    height: 100vh;
    position: fixed;
    width: 100vw;
}
    
.span1 {
    color: #e6e6e6;
    transition: 1s;
}

.span2{
    font-weight: bold;
    color: #e6e6e6;
    transition: 1s;
}
.span1:hover,
.span2:hover{
    transform: scale(1.05);
    color: #b69121;
}
h2{
    width: 80vw;
    /* border: white solid 2px; */
    transition: .75s ease-in-out;
}
h2:hover{
    letter-spacing: 5px;
}


.navbar-nav{
    z-index: 5;
}

.container{
    /* border: white solid 2px; */
}
.content
{
    color: white;
    width: 68vw;
    top: 15%;
    left: 8vw;
    position: absolute;
    background: transparent;
    transition: 0.5s;
    z-index: 2;
}

.inner{
    /* border: white solid 2px; */
    max-width: 70%;
    font-size: large;
}

.btn{
    color: white;
}

.btn:hover {
    color: #fff;
    background-color: #5485a1;
    transition: .7s;
}


.card1{
    position: absolute;
    /* border: rgb(194, 139, 36) solid 2px; */
    top: 35vh;
    width: 100vw;
}

    
.stargazer{
    position: relative;
    display: contain;
    transition: 1s ease-in-out;
    left: 70%;
    opacity: .5;    
    width: 20%;
    border-radius: 10px;
}
 

.stargazer:hover,
.stargazer:hover  + .stargazer-header {
    font-size: 2em;
    opacity: 1;
    cursor: pointer;
    transform: scale(1.05);
    }

.stargazer-header{
    position: relative;
    left: 70%;
    z-index: 5;
    color: #e6e6e6;
    /* border:wheat solid 2px; */
    font-size: 1.5em;
    max-width: 20%;
}


footer{
    /* border: white solid 2px; */
    background: transparent;
    position: absolute;
    bottom: -100%; 
    width: 100vw;
}

footer h4{
    font-weight: 100;
    position: relative;
    left: 47vw;
}

.bi{
    /* border: white solid 2px; */
    width: 200px;
    height: 100px;
}

