
/* *{
    color: white;
} */
video{
    max-height: 100%;
    max-width: 100%;
    z-index: -5;
    /* position: relative; */
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
}

/* .main{
    height: 100vh;
    width: 100vw;
} */

.navbar{
    z-index: 5;
}


.content
{
    top: 25%;
    left: 15%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: 0.5s;
    z-index: 2;
}

.inner{
    max-width: 50%;
    font-size: large;
}

.btn{
    color: white;
}
.btn:hover {
    color: #fff;
    background-color: #a7a7a7;
    border-color: #285e8e; /*set the color you want here*/
}

.card1{
    /* border: oldlace solid 2px; */
    right:0%;
    top: 20vh;
    position: fixed;
    font-size: large;
    opacity: .5;
    width: 30%;
}

.card1:hover {
    opacity: 1;
    transition: 1s ease;
    cursor: pointer;
  }

.stargazer{
    position:relative;
    width: 20vw;
    border-radius: 20px;
}


.stargazer-header{
    font-size: 1.5em;
}