/* import montserrat font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;800&display=swap');

/* Sets universal parameters  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', Verdana, Geneva, Tahoma, sans-serif;
}

/* Header styling */
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2{
    font-size: 2em;
}

a:hover{
    cursor: pointer;
}

/* Main section styling */
.main{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#333;
    color: #fff;
    z-index: 2;
}

/* About section styling */
.about{
    width: 100%;
    position: relative;
    z-index: 5;
}
/* .about img{
    position: relative;
    left: 0;
    width: 50%;
    height: auto;

} */

.about h2{
    font-size: 3em;
}

.about h3{
    font-size: 2em;
    margin: 0 0 5% 0;
}

.about p{
    font-size: 1.2em;
    max-width: 700px;
    
}

/* Sets image opacity and hover functionality */
img{
    opacity: 0.8;
}
img:hover{
    cursor: pointer;
    opacity: 1;
}

/* Showcase section styling */
.showcase{
    position: relative;
    bottom: 0;
    bottom: 10px;
    align-content: center;
    z-index: 0;
    display: flex;
    padding: 50px;
    
        
}
.showcase img{
    display: flex;
    width: 100%;
    height: auto;
}

/* Sets video position */
.main video{
    z-index: -5;
    position: absolute;
    object-fit: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
}

/* Sets social media icons position */
.social{
    position: absolute; 
    bottom: 0; 
    z-index: 5;
    display: flex;
    align-items: flex-end;
}
.social li{
    margin-right: 20px;
}

/* Sets unordered list styling */
ul{
    list-style-type: none;
    cursor: pointer;
}

/* Sets position and styling of menu unordered list */
.menu-items ul{
    z-index: 5;
    color: white;
    position: absolute;
    top: 20px;
    right: 10px;
    text-decoration: none;
    display: flex;
}

/* Sets link styling */
a{
     text-decoration: none;
     font-size: 24px;
     color: white;
     padding: 20px;
     display: flex;
}

/* Sets list item hover styling  */
*{
    color: white;
}
video{
    max-height: 100%;
    max-width: 100%;
    z-index: -5;
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    top: 0;
    left: 0;
}


.content
{
    top: 25%;
    left: 15%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  transition: 0.5s;
  z-index: 2;
}

.inner{
    border: solid white ;
    max-width: 50%;
    font-size: large;
}

.btn{
    color: white;
}
.btn:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #a7a7a7;
    border-color: #285e8e; /*set the color you want here*/
}

/* Sets footer position and styling */
footer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    bottom: 0;
    z-index: 5;
    color: white;
    position: fixed;
    width: 80%;
    height: 100%;
    left: 100px;
   
}
 li:hover{
    transform: translateY(-5px);
    transition: .2s ease-in-out;
}

/* Sets footer position and styling */
footer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    bottom: 0;
    z-index: 5;
    color: white;
    position: fixed;
    width: 80%;
    height: 100%;
    left: 100px;
   
}

footer h4{
    font-weight: 100;
    position: absolute;
    left: 50%;
    
}

/* Sets media queries */
@media (max-width: 1022px){
    .menu-items ul{
        top: 50%;
        float: left;
        display: flex;
        left: 10%;
        
    }
    .header h2{
        display: flex;
        
    }
    .social{
        display: flex;
        width: 100%;
    }
}