@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat', Verdana, Geneva, Tahoma, sans-serif;
}

header > h2{
    cursor: pointer;
}


.main{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#333;
    color: #fff;
    z-index: 2;
}



header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about{
    position: relative;
    z-index: 5;
}

.menu{
    position: relative;
    width: 60px;
    height: 60px;
    background: url(https://i.ibb.co/HrfVRcx/menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

.menu.open{
    background: url(https://i.ibb.co/rt3HybH/close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
}

.main video{
    position: absolute;
    object-fit: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
}

.social{
    z-index: 5;
}
ul{
    list-style-type: none;
    cursor: pointer;
}